


                  <div class="RL_Wrapper">

                  
            

               <h3>Recent Listings</h3>
               <ul class="thumbnails">

                <% if @recentListings != nil %> 
                <% @recentListings.each do |w| %>
                  <li class="span3">

                    <%= link_to user_book_path(w), :class => "thumbnail" do %>

                          <% if w.book.cover_photo.present? %>
                               <%= image_tag w.book.cover_photo.url(:cover), :alt => "Cover Photo" %>
                            <% elsif w.user_book_photos.present? %>
                               <%= image_tag w.user_book_photos.first.photo.url(:cover), :alt => "Cover Photo" %>
                            <% else %>
                                <%= image_tag "placehold.jpg", :alt => "Cover Photo", width: "97", height: "125" %>
                            <% end %> <%# end if cover photo is present %>

                        <% end %>
                    <p><span class="Price"><%=  number_to_currency(w.price) %></span> / month</p>
                     
                  </li>

                  <% end %>      

                  <% end %>

                </ul>   
                </div>         

              
