<% provide(:title, 'Home') %>


<% content_for :javascript_includes do %>
  <%= javascript_include_tag "jquery.nivo.slider.pack.js" %>
<% end %>   


    <div class="MainBodyWrapper">  
     
          <%= render "shared/searchbar" %>
           
           <%= render "shared/sidenav" %>

               <div class="span9"> <!--slider-->  
               <div class="HomeSlider">

                  <div class="slider-wrapper theme-default">
                  <div class="ribbon"></div>
                        <div id="slider" class="nivoSlider">
		            <%= image_tag "homepage1.jpg", :alt => "slider1", :title => "#htmlcaption1" %>
                            <%= image_tag "homepage2.jpg", :alt => "", :title => "#htmlcaption2" %>
                            <%= image_tag "homepage3.jpg", :alt => "", :title => "#htmlcaption3" %>                            
                        </div>
                    </div>
                    <div id="htmlcaption1" class="nivo-html-caption">
                        <p style="margin-left: 12px;"><strong>Hey Genius! Rent out Your<br />idle Textbooks and Earn More,<br /> instead of Selling at a Fraction<br />
                        of what You Paid.<br /><br />
                        List Your Books to Start<br />Renting to Your Peers!<br />
                        <p style="margin-right: 32px; text-align: right; font-weight: bold;">Need a textbook for the semester?</p>
                        <a style="margin-left: 17px;" class="btn btn-info" href="/list">Start Listing</a><br /><br />
                        <a style="margin-left: 17px;" class="btn btn-danger" href="/howitworks">Learn More</a></strong>
                        <p style="margin-right: 32px; text-align: right; font-weight: bold;">Save Big when you rent from <br />
                        someone near you, or friendly<br />neighborhood stores</p>     
                        </p><br /><br /><br /><br />
                    </div>    
                    <div id="htmlcaption2" class="nivo-html-caption">
                        <p style="margin-left: 12px;"><strong>We connect you with awesome people<br />
                        and textbooks from across the country<br /> to help you save more as<br />
                        a Renter, or earn extra<br />
                        cash from the books<br />
                        you already own<br /><br />
                        <a class="btn btn-info" href="/list" >Start Listing</a><br /><br />
                        <a class="btn btn-danger" href="/howitworks" >Learn More</a></strong>  
                        </p><br /><br /><br /><br /><br /><br />
                    </div> 
                    <div id="htmlcaption3" class="nivo-html-caption">
                        <p style="margin-left: 335px;"><strong>Store owner? Start renting out your <br />
                        inventory with zero setup & <br />
                        infrastructure cost. We're pusing your<br />
                        books to where your customers spend<br />
                        most of their time...<br /><br />
                        <a class="btn btn-info" href="/list" >Start adding Your Inventory</a><br /><br /><br /><br />
                        <a class="btn btn-danger" href="/howitworks" >Learn More</a></strong>  
                        </p><br /><br /><br />
                    </div>                 
             </div>



              <%= render :partial => "recentListings" %>


            </div>
          </div>
        </div>         
     
      



