<% provide(:title, 'Rent Books. Book Rentals') %>


<%# content_for :javascript_includes do %>
  <%#= javascript_include_tag "jquery.nivo.slider.pack.js" %>
<%# end %>   


    <div class="MainBodyWrapper">  
     
          <%= render "shared/searchbar" %>
           
           <%= render "shared/sidenav" %>

               <div class="span9"> <!--slider-->  
               <div class="HomeSlider">

                  <div class="slider-wrapper theme-default">
                  <div class="ribbon"></div>
                        <div id="slider" class="nivoSlider">
		            <%= image_tag "homepage3.jpg", :alt => "slider1", :title => "#htmlcaption1" %>
                            <%= image_tag "homepage2.jpg", :alt => "", :title => "#htmlcaption2" %>                      
                        </div>
                    </div>    
                    <div id="htmlcaption2" class="nivo-html-caption">
                        <p style="margin-left: 12px;"><strong style="margin-top: 10px; font-size: 16px;">Merchant or Store owner? </strong><br /><br /><strong>Start renting out your <br />
                        inventory with zero setup <br />&
                        infrastructure cost. <br />
                        We're pusing your books <br />to where your customers <br />spend most of their time...<br /><br />
                        <a class="btn btn-info" href="/list" >Start Listing</a><br /><br />
                        <a class="btn btn-danger" href="/howitworks" >Learn More</a></strong>  
                        </p><br /><br /><br /><br />
                    </div> 
                    <div id="htmlcaption1" class="nivo-html-caption">
                        <p style="margin-bottom: 60px; font-size: 20px; margin-left: 80px;"><strong>Find &<span style="border-bottom: 3px solid #E62020;"> Rent </span>Books from awesome people...</strong></p>
                        <p style="margin-left: 335px;"><strong>We connect you with people and books <br />
                        from across the country to help you <br />save more as
                        a renter, or earn more <br />from the books you already own!<br /><br />
                        <a class="btn btn-info" href="/list" >Start Listing</a><a style="margin-left: 15px;" class="btn btn-danger" href="/howitworks" >Learn More</a></strong>  <br /><br /><br /><br /><br />
                        
                        </p><br /><br /><br />
                    </div>                 
             </div>



              <%= render :partial => "recentListings" %>


            </div>
          </div>
        </div>         
     
      



