<% provide(:title, 'Contact Us') %>

<%= render "shared/searchbar" %>

<%= render "shared/error_messages", :target => @message %> 

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=287289154633208";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




<%= form_for @message do |f| %>

  
       <div class="container">
        <div class="row">

       <div class="staticPageNav">
                <div class="span3"> <!--Side Nav Bar-->             
                    <ul class="nav nav-pills nav-stacked">
                      <li class="nav-header">Useful Links</li> 
                      <li><a href="/about">About Us</a></li>  
                      <li><a href="http://blog.shelflet.com">Blog</a></li>  
                      <li class="active"><a href="/contact">Contact Us</a></li>  
                      <li><a href="/faqs">FAQs</a></li>  
                      <li><a href="/howitworks">How it Works</a></li> 
                      <li><a href="/privacy">Privacy Policy</a></li>  
                      <li><a href="/terms">Terms & Conditions</a></li>
                   </ul>
                   <%= image_tag "Shelflet-Fotolia.jpg", :alt => "smiley" %>
                </div><!--side Nav Bar-->
            </div>


        <div class="span9">
           <div class="staticPageWrapper"> 
               <div class="padding">
                <p><strong>Tell Us More</strong></p>
                <p>For all questions, comments or general feedback, kindly drop us a line by completing our contact form below, or by email at help@shelflet.com, or by phone at (202) 630-0697.</p>
               </div>
               <div class="staticPageBorder"></div>
               <div class="padding">
                <div class="partition">
                <div style="float: left;">
                <div class="control-group">
                  <label class="control-label" for="Title">What is your Name?</label>
                  <div class="controls">

                    <%= f.text_field :name, placeholder: "", id: "Name", :style => "width:350px", :class => "input-xlarge inputwidth" %>

                  </div>
                </div>
                </div>
                <div style="float: right;">
                <div class="thankyouBox" style="margin-left: 0px; margin-left: 20px; margin-top: 20px; width: 270px;"> 
                 <div class="thankyouBoxText" style="padding-left: 20px;">Share with friends!</div>
                 <div class="thankyouBorder"></div>
                 <div class="thankyouDetails" style="padding-left: 20px;"> 
                    <p>Tell your awesome friends or followers on Facebook/twitter about Shelflet!</p>
                    
                    <%= image_tag "shout.jpg", :alt => "smiley" %>
                    <div class="fb-like" style = "margin-top: 16px;" data-href="http://www.shelflet.com" data-send="false" data-width="250" data-show-faces="false" data-font="tahoma"></div>
                  </div>      
                 </div>
                </div>
               </div>
                 <div class="control-group">
                  <label class="control-label" for="ISBN">What is your Email Address?</label>
                  <div class="controls">

                    <%= f.text_field :email, id: "Email", :class => "input-xlarge inputwidth" %>
                   
                  </div>
                <div class="control-group">
                  <label class="control-label" for="Author">Subject of your Inquiry?</label>
                  <div class="controls">
                   
                    <%= f.text_field :subject, id: "Subject", :class => "input-xlarge inputwidth" %>
                   
                  </div>
                </div>              
                <div class="control-group">
                  <label class="control-label" for="Publisher">How can we be of help?</label>
                  <div class="controls">
                    <%= f.text_area :content, id: "InquiryNotes", :rows => 10, :cols => 3, :class => "input-xlarge inputwidth" %>
                  </div>
                </div>
                <br />
              <div class="actions">
                  <%= f.submit "Send message!", :class => "btn btn-info" %>
                </div>
                <% end %>
            </div>
           </div>
         </div>
       </div></div>