<% provide(:title, "My Bookshelf") %>

<div class="MainBodyWrapper">

    <%= render "shared/searchbar" %>


 <div class="container">
        <div class="row">
         <div class="span3">
          <div class="SidebarWrapper">       
           
<%= render "shared/snapshot" %>

  <%= render "shared/shelfNav" %>


<div class="span9">
          <div id="BookColumnWrapper"> 
<script type="text/javascript">
       mixpanel.track("Shelf Page")
    </script>

<% if @user_books_count == 0 %> 
  
<%= render "emptyShelf" %>
      

<% else %>
            <ul>
              <% @user_books.each do |w| %>

          <li class="thumbnail">

                    <div class="BCWLeft">

                      <%= link_to user_book_path(w), :class => "Title" do %>

                            <% if w.book.cover_photo.present? %>
                               <%= image_tag w.book.cover_photo.url(:thumbnail), :alt => "Cover Photo", :class => "thumbnail_border" %>
                            <% elsif w.user_book_photos.present? %>
                               <%= image_tag w.user_book_photos.first.photo.url(:thumbnail), :alt => "Cover Photo", :class => "thumbnail_border" %>
                            <% else %>
    
                                <img src="https://s3.amazonaws.com/shelflet/assets/placehold.jpg" alt="Cover Photo" class="thumbnail_border" width="90" height="116" />
    
                            <% end %> <%# end if cover photo is preser %>

                        <% end %>  <%# end image link to book %>
                     
                       <% if w.user_book_photos.present? %>  

             <p><%= link_to "more", w.user_book_photos.first.photo.url(:more), :class => "fancybox more", :rel => "gallery1" %></p>

                     <div style="display:none">
                      <div id="morephotos">
                        <% w.user_book_photos.each do |r| %>
                        <a class="fancybox" rel="gallery1"><%= image_tag r.photo.url(:more), :alt => "" %> </a>
                        <% end %>  
                       </div>
                      </div>

                    <% end %>

                    </div>

                   <div class="BCWCenter">

                      <%= link_to user_book_path(w), :class => "Title" do %>
                          <strong> <%= w.book.title %></strong>
                        <% end %>
                      
                      <p class="Author">By   <%= w.book.author %>  </p>

                      <% if w.book.edition != 0 %>
                      <p class="Edition">Edition:<span> <%= w.book.edition %> </span> </p>
                      <% else %>
                       <br />
                      <% end %>
                      

                      <div class="BCWCenter_Border"></div>
                      <p class="map-marker"><i class="icon-map-marker" style="margin-right: -6px;"></i>  
                         
                         <% if w.country_code.present? %>
                              <% if w.country_code == "US" %>
                                  <%= w.city %>, <%= w.state %>
                              <% else %>
                                  <%= w.city %>, <%= w.country %>
                              <% end %>
                          <% else %>
                              <%= w.location %>
                          <% end %>
                       
                           </p>

                      <p>Quantity: <span class="Quantiy">  <%= w.quantity %> 

                      </span><span class="pipe">|</span><span class="Condition">

                        <%= w.condition.name %>

                      </span><span class="pipe">|</span>

                      <span><span class="reviews" href="#">0 reviews</span></span></p>
                   </div>

                   <div class="BCWRight BCWRight_Fix">                  

          <%= link_to 'x', w, confirm: 'Do you want to delete this book from your shelf?', method: :delete, :class => "x_icon_fix" %>
                           
                      <p><strong>Rental Price: <span class="Price"><%= number_to_currency(w.price) %></span> / Month</strong></p>

                      <div class="BCWRight_Border"></div>

                      <p>Listed: <span class="orderDate">  <%= w.created_at.strftime("%b %d, %y")  %>   </span></p>

                     


                     

                      <% if (w.duration1 == true) && (w.duration2 == false) && (w.duration3 == false)  %>

                          <p>Available: <span class="Availability">1</span> Month</p>

                      <% elsif (w.duration1 == true) && (w.duration2 == true) && (w.duration3 == true) %>

                        <p>Available: <span class="Availability">1, 2 or 3</span> Months</p>

                    <% elsif (w.duration1 == false) && (w.duration2 == false) && (w.duration3 == true) %>

                        <p>Available: <span class="Availability">3</span> Months</p>


                    <% elsif (w.duration1 == true) && (w.duration2 == true) && (w.duration3 == false) %>

                      <p>Available: <span class="Availability">1 or 2</span> Months</p>


                    <% elsif (w.duration1 == false) && (w.duration2 == true) && (w.duration3 == true) %>

                    <p>Available: <span class="Availability">2 or 3</span> Months</p>

                          <% elsif (w.duration1 == false) and (w.duration2 == true) and (w.duration3 == false) %>

                    <p>Available: <span class="Availability">2</span> Months</p>


                      <% end %>




                     

            <%#<button type="submit" class="btn btn-info" disabled><i class="icon-bullhorn icon-white" ></i>Promote</button> %>
                      <a href="#" onclick="return false;" class="btn btn-info element" rel="tooltip" title="We opened up just the listing feature on Shelflet. Start listing your old/used books!"><i class="icon-bullhorn icon-white" ></i>Promote</a>

                      <span>


                       <%= link_to edit_user_book_path(w), :class => "btn" do %>
                           <i class="icon-edit"></i>Edit
                        <% end %>


                        </span>
                       </div>
                    </li>
                
                <% end %>

              </ul>

              <%= will_paginate @user_books %>
          </div>
       </div>
     </div>
</div>
  <% end %>
