    

      <div class="container"> <!--Search Bar -->
           <div class="row">
               <div class="span12">
               <div class="SearchWrapper">

                 
                      <%= form_tag books_path, method: :get, :class =>"well form-search", :id => "SearchBar" do %>
                        <div class="">
                             <%= text_field_tag :search, params[:search], :class => "input-medium search-query", :placeholder => "Enter title, author or ISBN here" %>
                                <%#= submit_tag "Search", name: nil, :class => "btn" %>


                                <%= button_tag(type: 'submit', class: "btn search_fix", name: nil, ) do %>
                                    <i class="icon-search"></i> Search
                                    <% end %>
                         </div>
                         <div id="search_result">


                         </div>
                        <% end %>
                  </div>

                  <div id="fb-root"></div>
                      <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=287289154633208";
                        fjs.parentNode.insertBefore(js, fjs);
                      }(document, 'script', 'facebook-jssdk'));</script>

                      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



                <div class="socials-align">     
                  <ul class="share-tools">
                
                  <li class="share2-vert twitter">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.shelflet.com" data-lang="en" data-count="none">Tweet</a>
                  </li>
                
                <li class="share2-vert">
                  <div class="fb-like" data-href="https://www.shelflet.com" data-send="false" data-layout="button_count" data-width="300" data-show-faces="true"></div>
                </li>
                  
                  </ul>
                </div>

                <%#= <a class="alert"><%= alert %><%#</a> %>
                  <%#= <a id="notice"><%= notice %> <%# </a> %>

        <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
            <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
                <a class="close" data-dismiss="alert">&#215;</a>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
            </div>
            <% end %>
        <% end %>
                                     
               </div>
            </div>
         </div> <!-- Search Bar -->


