    

      <div class="container"> <!--Search Bar -->
           <div class="row">
               <div class="span12">
               <div class="SearchWrapper">

                 
                      <%= form_tag books_path, method: :get, :class =>"well form-search", :id => "SearchBar" do %>
                        <div class="">
                             <%= text_field_tag :search, params[:search], :class => "input-medium search-query", :placeholder => "Enter title, author or ISBN here" %>
                                <%#= submit_tag "Search", name: nil, :class => "btn" %>


                                <%= button_tag(type: 'submit', class: "btn search_fix", name: nil, ) do %>
                                    <i class="icon-search"></i> Search
                                    <% end %>
                         </div>
                         <div id="search_result">


                         </div>
                        <% end %>
                  </div>
                 <%#= <a class="alert"><%= alert %><%#</a> %>
                  <%#= <a id="notice"><%= notice %> <%# </a> %>

        <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
            <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
                <a class="close" data-dismiss="alert">&#215;</a>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
            </div>
            <% end %>
        <% end %>
                                     
               </div>
            </div>
         </div> <!-- Search Bar -->


