         <div class="container"> 
            <div class="row">  
                <div class="span3"> <!--Side Nav Bar-->             
                    <ul class="nav nav-pills nav-stacked">  
                      <li class="nav-header">Popular Categories</li> 
                      <li><%= link_to "Accounting", :controller => "books", :category => "1" %></li>
                      <li><%= link_to "Art History", :controller => "books", :category => "21" %></li>
                      <li><%= link_to "Business & Finance", :controller => "books", :category => "31" %></li>
                      <li><%= link_to "Computer Science", :controller => "books", :category => "41" %></li>
                   <li><%= link_to "Communication & Journalism", :controller => "books", :category => "51" %></li>
                      <li><%= link_to "Economics", :controller => "books", :category => "71" %></li>
                      <li><%= link_to "Engineering", :controller => "books", :category => "91" %></li>
                      <li><%= link_to "Mathematics", :controller => "books", :category => "151" %></li>
                   <li><%= link_to "Medicine & Health Sciences", :controller => "books", :category => "161" %></li> 
                      <li><%= link_to "Nursing", :controller => "books", :category => "171" %></li>
                      <li><%= link_to "Political Science", :controller => "books", :category => "191" %></li>
                      <li><%= link_to "Psychology", :controller => "books", :category => "201" %></li>
                   </ul>
                </div><!--side Nav Bar-->

