<div class="container">
                <div class="span3" style="border: none;"> <!--Side Nav Bar-->             
                    <ul class="nav nav-pills nav-stacked" style="margin-top: 0px;">
                      <li class="nav-header">Popular Categories</li> 
                      <li><%= link_to "Accounting", :controller => "books", :search => "accounting" %></li>
                      <li><%= link_to "Architecture", :controller => "books", :search => "architecture" %></li>
                      <li><%= link_to "Art History", :controller => "books", :search => "art history" %></li>
                      <li><%= link_to "Business & Finance", :controller => "books", :search => "business & finance" %></li>
                      <li><%= link_to "Computer Science", :controller => "books", :search => "computer science" %></li>
                   <li><%= link_to "Communication & Journalism", :controller => "books", :search => "communication & journalishm" %></li>
                      <li><%= link_to "Economics", :controller => "books", :search => "economics" %></li>
                      <li><%= link_to "Engineering", :controller => "books", :search => "engineering" %></li>
                      <li><%= link_to "Foreign Languages", :controller => "books", :search => "foreign languages" %></li>
                      <li><%= link_to "Literature", :controller => "books", :search => "literature" %></li>
                      <li><%= link_to "Mathematics", :controller => "books", :search => "mathematics" %></li>
                   <li><%= link_to "Medicine & Health Sciences", :controller => "books", :search => "medicine & health sciences" %></li> 
                      <li><%= link_to "Nursing", :controller => "books", :search => "nursing" %></li>
                      <li><%= link_to "Political Science", :controller => "books", :search => "political science" %></li>
                      <li><%= link_to "Psychology", :controller => "books", :search => "psychology" %></li>
                      <li><%= link_to "Religious Studies", :controller => "books", :search => "religious studies" %></li>
                   </ul>
                </div><!--side Nav Bar-->