<div class="container">
                <div class="span3" style="border: none;"> <!--Side Nav Bar-->             
                    <ul class="nav nav-pills nav-stacked" style="margin-top: 0px;">
                      <li class="nav-header">Popular Categories</li> 
                      <li><%= link_to "Accounting", :controller => "books", :category => "1" %></li>
                      <li><%= link_to "Architecture", :controller => "books", :category => "2" %></li>
                      <li><%= link_to "Art History", :controller => "books", :category => "3" %></li>
                      <li><%= link_to "Business & Finance", :controller => "books", :category => "4" %></li>
                      <li><%= link_to "Computer Science", :controller => "books", :category => "5" %></li>
                   <li><%= link_to "Communication & Journalism", :controller => "books", :category => "6" %></li>
                      <li><%= link_to "Economics", :controller => "books", :category => "8" %></li>
                      <li><%= link_to "Engineering", :controller => "books", :category => "10" %></li>
                      <li><%= link_to "Foreign Languages", :controller => "books", :category => "11" %></li>
                      <li><%= link_to "Literature", :controller => "books", :category => "15" %></li>
                      <li><%= link_to "Mathematics", :controller => "books", :category => "16" %></li>
                   <li><%= link_to "Medicine & Health Sciences", :controller => "books", :category => "17" %></li> 
                      <li><%= link_to "Nursing", :controller => "books", :category => "18" %></li>
                      <li><%= link_to "Political Science", :controller => "books", :category => "20" %></li>
                      <li><%= link_to "Psychology", :controller => "books", :category => "21" %></li>
                      <li><%= link_to "Religious Studies", :controller => "books", :category => "24" %></li>
                   </ul>
                </div><!--side Nav Bar-->