

    <li class="thumbnail">

                <div class="BCWLeft">  

                          <% if @user_book.book.cover_photo.present? %>
                <%= image_tag @user_book.book.cover_photo.url(:thumbnail), :alt => "Cover Photo", :class => "thumbnail_border" %>
                            <% elsif @user_book.user_book_photos.present? %>
                               <%= image_tag @user_book.user_book_photos.first.photo.url(:thumbnail), :alt => "Cover Photo", :class => "thumbnail_border" %>
                            <% else %>
                                <%= image_tag "placehold.jpg", :alt => "Cover Photo", :class => "thumbnail_border" %>
                            <% end %> <%# end if cover photo is preser %>                    
                           

                        <% if @user_book.user_book_photos.present? %>  

                          <%= render "photos" %>
                        <% end %>
                </div>
                <div class="BCWCenter">
                         <strong class="Title"> <%= @user_book.book.title %></strong>
                         <p class="Author">By   <%= @user_book.book.author %>  </p>

                         <% if @user_book.book.edition != 0 %>
                            <p class="Edition">Edition:<span> <%= @user_book.book.edition %> </span> </p>
                          <% else %>
                            <br />
                         <% end %>

                          <div class="BCWCenter_Border"></div>
                          <p class="map-marker" ><i class="icon-map-marker" style="margin-right: -6px;"></i>  
                          <%= @user_book.location %>
                          </p>

                    <% if can? :update, @user_book %>  
                          <p>Quantity: <span class="Quantiy">  <%= @user_book.quantity %> 
                    <% else %>
                          <p><span class="numberOfBooks" href="#"><%= @user_book.user.user_books.count %> Books from Lister
                    <% end %>
                        </span><span class="pipe">|</span><span class="Condition">
                      <%= @user_book.condition.name %>
                          </span><span class="pipe">|</span>
                          <span><span class="reviews" href="#">0 reviews</span></span>
                      <% if cannot? :update, @user_book %>  
                          <span><a href="javascript:void(0)" class="element" rel="tooltip" title="We opened up just the listing feature on Shelflet. Start listing your old/used books!">
                          <i class="icon-envelope" style="margin-left: 10px; margin-top: 2px;"></i></a></span>
                      <% end %>
                    </p>
               </div>

                <% if can? :update, @user_book %>     
                   <div class="BCWRight BCWRight_Fix">                                
                      <%= link_to 'x', @user_book, confirm: 'Are you sure', method: :delete, :class => "x_icon_fix" %>
                      <p><strong>Rental Price: $<span class="Price">  <%= @user_book.price %></span> / Month</strong></p>
                      <div class="BCWRight_Border"></div>
                      <p>Listed: <span class="orderDate">  <%= @user_book.created_at.strftime("%b %d, %y")  %>   </span></p>    
                      
                      <%= render "available" %>

                     <%# <button type="submit" class="btn btn-info" disabled></button> %>
                      <a href="#" class="btn btn-info element" rel="tooltip" title="We opened up just the listing feature on Shelflet. Start listing your old/used books!"><i class="icon-bullhorn icon-white"></i>Promote</a>
                      <span><%= link_to edit_user_book_path(@user_book), :class => "btn" do %>
                      <i class="icon-edit"></i>Edit
                      <% end %>
                      </span>

               <% else %>

                     <div class="BCWRight">                            
                           
                      <p><strong>Rental Price: $<span class="Price">  <%= @user_book.price %></span> / Month</strong></p>

                      <div class="BCWRight_Border style="margin-top: -5px; margin-bottom: 10px;""></div>

                <form action="#" class="form-inline" style="margin-top: 11px; margin-bottom: -5px;">

                  <div class="control-group">
                        <label style="margin-top: -10px;" class="control-label" for="inlineCheckboxes">Rental Duration (month)
                        <span><a href="#" style="font-size: 12px; margin-left: 1px;" class="Default">?</a></span></label>
                        <div class="controls" style="margin-top: -6px; margin-bottom: 12px;">

                      
                          <%= render "radios" %>
                      
                        </div>                        
                      </div>
                  </form>

                       <%# <button type="submit" class="btn btn-info" disabled></button> %>

                        <a href="#" class="btn btn-info element" rel="tooltip" title="We opened up just the listing feature on Shelflet. Start listing your old/used books!"><i class="icon-shopping-cart icon-white"></i>Add to Cart</a>  


                <% end %>

                   </div>
                </li>
            </ul>
          </div>
        </div>


        