 


 <div class="BookColumnMore">
             <div class="row">
              <div class="span5">              
              <div class="DescriptionBoxText">Description</div>
                 <div class="DescriptionBorder"></div>
               <div class="DescriptionBox">
                <p class="Description">

                  <%= @user_book.book.description %>
                </p>
                <p class="DescriptionBoxBorder"></p>
                <p><strong>ISBN: </strong><span class="ISBN"><%= @user_book.book.isbn %></span></p>
                <p><strong>Author(s): </strong><span class="Author"><%= @user_book.book.author %></span></p>
                <p><strong>Publisher(s): </strong><span class=""><%= @user_book.book.publisher %></span></p>
                <p class="DescriptionBoxBorder"></p>
                <p><strong>Condition</strong></p>
                <p class="Condition"><%= @user_book.condition.name %></p>
                
                <% if @user_book.conditionNotes? %>
                <p><strong>Notes</strong></p>
                <p class="ConditionNotes"><%= @user_book.conditionNotes %></p>
                <% end %>

               </div>     
               </div>  


      <%= render "maps" %>

    </div>
  </div>