<% provide :title, "Edit" %>

<%= render "shared/searchbar" %>

<%= render 'leftNav' %>

<div class="span8">
           <div id="listBoxWrapper">          
            <fieldset>
            <p class="listing-text">Let's Know About Your Book</p>
             <div class="listing-text-border"></div>
             
<%= render 'form' %>


<%= link_to 'Show', @user_book %> |
<%= link_to 'Back', user_books_path %>


