<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
  <%= yield :head %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>




<%= yield %>


<div class="push"></div>
      </div>
       

  <%= render 'layouts/footer' %>


</body>
</html>



